.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*top_bar*/
.top_bar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.top_bar .inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
}

.top_bar .customer {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  margin: 0 0 0 auto;
}

.top_bar .customer li {
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

.top_bar .customer li:hover {
  color: #b11485;
}

/*header - 메뉴*/
.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.header.on {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

.header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: 0.5s;
}

.header.on .header_wrap {
  height: 80px;
}

.header h1 {
  font-size: 0;
}

.header h1 img {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
}

.gnb .main_menu {
  display: flex;
}

.gnb .main_menu>li {
  position: relative;
  padding: 0 30px;
}

.gnb .main_menu a {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #777;
  line-height: 120px;
  transition: 0.5s;
}

.gnb .main_menu a:hover {
  color: #6F2B8C;
  font-weight: 600;
}

.gnb .main_menu li~li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  background: #ddd;
}

.header.on .gnb .main_menu a {
  color: #ddd;
}

.header.on .gnb .main_menu a:hover {
  color: #048ABF;
}

.gnb .main_menu .sub_menu {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  width: 180px;
  text-align: center;

  padding: 15px 0;
  border-radius: 40px;
  border: 3px solid #9dc92a;

  opacity: 0;
  visibility: hidden;

  transition: 0.5s;
}

.gnb .main_menu>li:hover .sub_menu {
  top: 100px;
  opacity: 1;
  visibility: visible;
}

.header.on .gnb .main_menu>li:hover:hover .sub_menu {
  top: 90px;
}

/* .gnb .sub_menu li~li {
  border-top: 1px solid #444;
} */

.header .gnb .sub_menu a {
  display: block;
  color: #adadad;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;

}

.header .gnb .sub_menu a:hover {
  color: #6F2B8C;
  font-weight: 500;
}

.login_area .member {
  display: flex;
  font-size: 22px;
  gap: 10px;
  cursor: pointer;
}

.login_area .member a {
  font-size: 15px;
  color: #fff;
}

.header.on .login_area .member a {
  color: #444;
}

.login_area .member li {
  position: relative;
}

.login_area .member li~li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 2px;
  height: 2px;
  transform: translate(-50%, -50%);
  background: #fff;
}

.header.on.login_area .member li~li::before {
  background: #444;
}

/*메인 슬라이드*/
.MainVisual {
  position: relative;
}

.MainVisual .main_slide .itm {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 132px);
}

.MainVisual .main_slide .itm .slide-img {
  position: absolute;
  inset: 0 0 0 0;
}

.MainVisual .main_slide .itm01 .slide-img {
  background: url(../images/cu_main_slide01.jpg) no-repeat center top/cover;
}

.MainVisual .main_slide .itm02 .slide-img {
  background: url(../images/cu_main_slide02.jpg) no-repeat center top/cover;
}

.MainVisual .main_slide .itm03 .slide-img {
  background: url(../images/cu_main_slide03.jpg) no-repeat center top/cover;
}


/*슬라이드 좌우 버튼*/
.MainVisual .arrows {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  max-width: 1600px;
  width: 100%;
}

.MainVisual .arrows i {
  padding: 10px;
  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;

}

.MainVisual .arrows .left {
  position: absolute;
  left: 0;
  top: 0;
}

.MainVisual:hover .arrows .left {
  opacity: 0.8;
  transform: translate(30px, 0);
}

.MainVisual .arrows .right {
  position: absolute;
  right: 0;
  top: 0;
}

.MainVisual:hover .arrows .right {
  opacity: 0.8;
  transform: translate(-30px, 0);
}

/* 스크롤 */
.MainVisual .scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.MainVisual .scroll span {
  position: relative;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.MainVisual .scroll span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 1px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, 0);
}

.MainVisual .scroll span::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transform: translate(-50%, 0);

  animation: circle 1.5s infinite cubic-bezier(1, .18, .49, 1.03);
}

@keyframes circle {
  0% {
    transform: translate(-50%, 0);
    outline: 0 solid rgba(255, 255, 255, 1)
  }

  90% {
    outline: 0 solid rgba(255, 255, 255, 1);
  }

  100% {
    transform: translate(-50%, 90px);
    outline: 20px solid rgba(255, 255, 255, 0);
  }
}


/* 슬라이드 도트 */
.MainVisual .dots {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #9dc92a;
  border-radius: 20px;
  display: flex;
}

.MainVisual .dots li span {
  font-size: 0;
}

.MainVisual .dots li span::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #6F2B8C;
  border-radius: 50%;
  z-index: 999;
}

.MainVisual .dots li {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.MainVisual .dots li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 15px;
  transition: 0.5s linear;
}

/* 탭 */
.tab_block {
  padding: 100px 0;
}

.tab_block .tit {
  margin: 0 auto 30px auto;
  text-align: center;
}

.tab_block .tit h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.tab_block .tit span {
  color: #6F2B8C;
  font-weight: 800;
}

.tab_block .tit p {
  font-size: 16px;
  font-weight: 400;
}

.tab_block .inner {
  width: 1200px;
}

.tab_link {
  /* display: flex;*/
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 0 10px 0;
}

.tab_link>* {
  /* flex: 1;*/
  display: table-cell;
  background: #fff;
  border: 2px solid #9dc92a;
  border-radius: 15px;
  color: #666;
}

.tab_link>*~* {
  border-left: 1px solid #ddd;
}

.tab_link>*.on {
  background: #9dc92a;
  border: 2px solid #9dc92a;
  color: #fff;
}

.tab_link a {
  text-align: center;
  display: block;
  padding: 10px 20px;
  font-weight: 500;
}

.tab_content .con {
  background: #fff;
}

.tab_content .con {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.tab_content .con.on {
  visibility: visible;
  height: auto;
}

.tab_content .con .img_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tab_content .con .img_wrap li {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
}

.tab_content .con .img_wrap li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 1px solid #9dc92a;
  border-left: 1px solid #9dc92a;
  border-radius: 13px;
  opacity: 0;
  z-index: 999;
}

.tab_content .con .img_wrap li:hover::before {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.tab_content .con .img_wrap li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 1px solid #9dc92a;
  border-right: 1px solid #9dc92a;
  border-radius: 13px;
  opacity: 0;
  z-index: 999;
}

.tab_content .con .img_wrap li:hover::after {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.tab_content .con .img_wrap li .img_box {
  position: relative;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px 0;
}

.tab_content .con .img_wrap li .img_box .link {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  gap: 10px;
  opacity: 0;
  transition: 0.5s;
}

.tab_content .con .img_wrap li:hover .img_box .link {
  opacity: 1;
}

.tab_content .con .img_wrap li .img_txt {
  text-align: center;
  margin: 0 0 10px 0;
}

.tab_content .con .img_wrap li .img_txt p {
  font-size: 16px;
  font-weight: 600;
}

.tab_content .con .img_wrap li .price {
  text-align: center;
  margin: 0 0 20px 0;
}

.tab_content .con .img_wrap li .price strong {
  font-size: 15px;
  font-weight: 400;
}

/* section - mainbackground */
.mainBackground {
  padding: 100px 0;
  position: relative;
  height: 400px;
  background-image: url(../images/bg01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.mainBackground .bg_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.mainBackground h2 {
  margin: 0 0 15px 0;
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.mainBackground p {
  font-size: 26px;
  font-weight: 100;
  color: #fff;
  line-height: 1.3;

}